# Node modules (both frontend & backend)
frontend/Quiz-Arena/node_modules/
backend/node_modules/

# Env files
frontend/Quiz-Arena/.env
backend/.env

/frontend/Quiz-Arena/dist/
/frontend/Quiz-Arena/.vite/
/frontend/Quiz-Arena/.env
/frontend/Quiz-Arena/node_modules/

# Backend specifics
/backend/node_modules/
/backend/.env

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
