@import "tailwindcss";

@layer components {
  .input {
    @apply w-full mb-3 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .btn-primary {
    @apply bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg font-semibold;
  }
}
